@charset "UTF-8";.splash-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #d3d3d3;
    background: -webkit-gradient(linear,left top,right top,from(#d3d3d3),to(#e3e3e3));
    background: linear-gradient(90deg,#d3d3d3 0,#e3e3e3);
}

.splash-screen .splash-container {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -20px
}

.splash-screen .splash-double-bounce1,.splash-screen .splash-double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: splash-bounce 2s ease-in-out infinite;
    animation: splash-bounce 2s ease-in-out infinite
}

.splash-screen .splash-double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

@-webkit-keyframes splash-bounce {
    0%,to {
        -webkit-transform: scale(0)
    }

    50% {
        -webkit-transform: scale(1)
    }
}

@keyframes splash-bounce {
    0%,to {
        transform: scale(0);
        -webkit-transform: scale(0)
    }

    50% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}

* {
    box-sizing: border-box
}

html {
    height: 100%
}

body {
    font-family: Open Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #edf0f5;
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased
}

a {
    text-decoration: none
}

.layout-wrapper {
    padding: 0;
    min-height: 100vh
}

.layout-topbar {
    position: fixed;
    height: 50px;
    padding: .7em 1.5em 0;
    color: #858796;
    z-index: 999;
    right: 0;
    background-color: #fff;
    -webkit-transition: left .2s;
    transition: left .2s;
    border-bottom: 1px solid #ccc
}

.layout-topbar:after {
    content: "";
    display: table;
    clear: both
}

.layout-topbar .layout-topbar-icons {
    float: right;
    display: block;
    -webkit-animation-duration: .5s;
    animation-duration: .5s
}

.layout-topbar .layout-topbar-icons button {
    position: relative;
    color: #000;
    margin-left: 20px;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: color .2s;
    transition: color .2s;
    overflow: visible
}

.layout-topbar .layout-topbar-icons button:hover {
    color: #007ad9
}

.layout-topbar .layout-topbar-icons button span.layout-topbar-icon {
    font-size: 2em
}

.layout-topbar .layout-topbar-icons button span.layout-topbar-item-text {
    font-size: 20px;
    display: none
}

.layout-topbar .layout-topbar-icons button span.layout-topbar-badge {
    position: absolute;
    font-size: 10px;
    right: -5px;
    top: -5px;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    color: #fff;
    background-color: #ef6262;
    border-radius: 50%
}

.layout-topbar .layout-topbar-icons .layout-topbar-search {
    padding: 0;
    position: relative;
    display: inline-block;
    top: -4px
}

.layout-topbar .layout-topbar-icons .layout-topbar-search input {
    display: inline-block;
    font-size: 14px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #858796;
    outline: 0 none;
    box-shadow: none;
    color: #858796;
    width: 100px;
    padding: 1px 20px 1px 1px;
    margin: 0;
    border-radius: 2px
}

.layout-topbar .layout-topbar-icons .layout-topbar-search input::-webkit-input-placeholder {
    color: #858796;
    opacity: .7;
    -webkit-transition: opacity .2s;
    transition: opacity .2s
}

.layout-topbar .layout-topbar-icons .layout-topbar-search input:-moz-placeholder,.layout-topbar .layout-topbar-icons .layout-topbar-search input::-moz-placeholder {
    color: #858796;
    opacity: .7;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    transition: opacity .2s
}

.layout-topbar .layout-topbar-icons .layout-topbar-search input:-ms-input-placeholder {
    color: #858796;
    opacity: .7;
    -webkit-transition: opacity .2s;
    -ms-transition: opacity .2s;
    transition: opacity .2s
}

.layout-topbar .layout-topbar-icons .layout-topbar-search .layout-topbar-search-icon {
    font-size: 18px;
    position: absolute;
    top: -1px;
    right: 0
}

.layout-topbar .layout-topbar-icons .layout-topbar-search:hover input {
    border-bottom-color: #007ad9
}

.layout-topbar .layout-topbar-icons .layout-topbar-search:hover input::-webkit-input-placeholder {
    opacity: 1
}

.layout-topbar .layout-topbar-icons .layout-topbar-search:hover input:-moz-placeholder,.layout-topbar .layout-topbar-icons .layout-topbar-search:hover input::-moz-placeholder {
    opacity: 1
}

.layout-topbar .layout-topbar-icons .layout-topbar-search:hover input:-ms-input-placeholder {
    opacity: 1
}

.layout-topbar .layout-topbar-icons .layout-topbar-search:hover .layout-topbar-search-icon {
    color: #007ad9
}

.layout-topbar .layout-menu-button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #000;
    -webkit-transition: color .2s;
    transition: color .2s
}

.layout-topbar .layout-menu-button span {
    font-size: 2em
}

.layout-topbar .layout-menu-button:hover {
    color: #007ad9
}

.layout-topbar button {
    cursor: pointer
}

.layout-sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    z-index: 999;
    overflow-y: auto;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-transition: left .2s;
    transition: left .2s;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc
}

.layout-sidebar .layout-logo {
    text-align: center;
    margin-top: 24px
}

.layout-sidebar .menuitem-badge {
    display: inline-block;
    margin-left: 4px;
    font-size: 10px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    background-color: #007be5;
    border-radius: 50%
}

.layout-sidebar-header {
    height: 70px;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    color: #000;
    font-size: 14px
}

.layout-profile {
    text-align: center;
    padding: 20px 0
}

.layout-profile img {
    width: 56px;
    margin: 10px
}

.layout-profile .layout-profile-link {
    cursor: pointer;
    display: inline-block;
    margin-bottom: .75em;
    -webkit-transition: color .2s;
    transition: color .2s
}

.layout-profile .layout-profile-link i {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle
}

.layout-profile ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition-property: max-height;
    transition-property: max-height;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transition-timing-function: cubic-bezier(.86,0,.07,1);
    transition-timing-function: cubic-bezier(.86,0,.07,1)
}

.layout-profile ul.layout-profile-expanded {
    max-height: 500px
}

.layout-profile ul li button {
    width: 100%;
    padding: 1em;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    -webkit-transition: color .2s;
    transition: color .2s
}

.layout-profile ul li button:hover {
    color: #0388e5
}

.layout-profile ul li button span {
    margin-left: .25em;
    vertical-align: middle
}

.layout-profile ul li button i {
    vertical-align: middle
}

.layout-sidebar-light .layout-profile .layout-profile-link {
    color: #232428
}

.layout-sidebar-light .layout-profile .layout-profile-link:hover {
    color: #0388e5
}

.layout-sidebar-light .layout-profile ul {
    background-color: #fff
}

.layout-sidebar-light .layout-profile ul li button {
    color: #232428
}

.layout-sidebar-light .layout-profile ul li button:hover {
    color: #0388e5
}

.layout-sidebar-dark .layout-profile .layout-profile-link {
    color: #fff
}

.layout-sidebar-dark .layout-profile .layout-profile-link:hover {
    color: #0388e5
}

.layout-sidebar-dark .layout-profile ul {
    background-color: #2e3035
}

.layout-sidebar-dark .layout-profile ul li button {
    color: #fff
}

.layout-sidebar-dark .layout-profile ul li button:hover {
    color: #0388e5
}

.layout-menu-container {
    padding-bottom: 120px
}

.layout-menu {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.layout-menu li a {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    display: block;
    -webkit-transition: color .2s;
    transition: color .2s
}

.layout-menu li a i {
    font-size: 18px;
    vertical-align: middle
}

.layout-menu li a span {
    margin-left: .25em;
    vertical-align: middle;
    line-height: 18px;
    display: inline-block
}

.layout-menu li a .menuitem-toggle-icon {
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -9px
}

.layout-menu li a.router-link-active {
    font-weight: 700
}

.layout-menu li.active-menuitem>a .menuitem-toggle-icon:before {
    content: ""
}

.layout-menu li.active-menuitem>ul {
    max-height: 500px
}

.layout-menu>li>a {
    padding: 1em
}

.layout-menu>li>a span {
    font-size: 14px
}

.layout-menu>li:last-child>a {
    border-bottom: 1px solid rgba(207,211,224,.6)
}

.layout-menu>li ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 1.5em;
    max-height: 0;
    overflow: hidden;
    -webkit-transition-property: max-height;
    transition-property: max-height;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transition-timing-function: cubic-bezier(.86,0,.07,1);
    transition-timing-function: cubic-bezier(.86,0,.07,1)
}

.layout-menu>li ul li a {
    cursor: pointer;
    padding: .75em 1em;
    border-top: 0
}

.layout-menu>li ul li a span {
    font-size: 13px
}

.layout-menu>li ul li:last-child {
    padding-bottom: 1em
}

.layout-sidebar-light {
    background-color: #f3f4f9
}

.layout-sidebar-light .layout-menu>li>a {
    border-top: 1px solid rgba(207,211,224,.6)
}

.layout-sidebar-light .layout-menu>li:last-child>a {
    border-bottom: 1px solid rgba(207,211,224,.6)
}

.layout-sidebar-light .layout-menu>li ul {
    background-color: #fff
}

.layout-sidebar-light .layout-menu li a {
    color: #232428
}

.layout-sidebar-light .layout-menu li a.router-link-active {
    color: #1fa1fc
}

.layout-sidebar-light .layout-menu li a:hover {
    color: #0388e5
}

.layout-sidebar-light .layout-menu li.active-menuitem>a {
    background-color: #fff;
    color: #0388e5
}

.layout-sidebar-dark {
    background: #4d505b;
    background: -webkit-gradient(linear,left top,left bottom,from(#4d505b),to(#3b3e47));
    background: linear-gradient(180deg,#4d505b 0,#3b3e47);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=0)
}

.layout-sidebar-dark .layout-menu>li>a {
    border-top: 1px solid rgba(52,56,65,.6)
}

.layout-sidebar-dark .layout-menu>li:last-child>a {
    border-bottom: 1px solid rgba(52,56,65,.6)
}

.layout-sidebar-dark .layout-menu>li ul {
    background-color: #2e3035
}

.layout-sidebar-dark .layout-menu li a {
    color: #fff
}

.layout-sidebar-dark .layout-menu li a.router-link-active {
    color: #1fa1fc
}

.layout-sidebar-dark .layout-menu li a:hover {
    color: #0388e5
}

.layout-sidebar-dark .layout-menu li.active-menuitem>a {
    background-color: #2e3035;
    color: #0388e5
}

.layout-main {
    padding: 66px 16px 16px
}

.layout-footer,.layout-main {
    -webkit-transition: margin-left .2s;
    transition: margin-left .2s
}

.layout-footer {
    background-color: #fff;
    padding: 1em 2em
}

.layout-footer .footer-text,.layout-footer img {
    vertical-align: middle
}

@media (min-width: 1025px) {
    .layout-wrapper.layout-overlay .layout-sidebar {
        left:-300px
    }

    .layout-wrapper.layout-overlay .layout-topbar {
        left: 0
    }

    .layout-wrapper.layout-overlay .layout-footer,.layout-wrapper.layout-overlay .layout-main {
        margin-left: 0
    }

    .layout-wrapper.layout-overlay.layout-overlay-sidebar-active .layout-sidebar {
        left: 0
    }

    .layout-wrapper.layout-overlay.layout-overlay-sidebar-active .layout-topbar {
        left: 300px
    }

    .layout-wrapper.layout-static .layout-sidebar {
        top: 50px
    }

    .layout-wrapper.layout-static .layout-topbar {
        left: 0
    }

    .layout-wrapper.layout-static .layout-footer,.layout-wrapper.layout-static .layout-main {
        margin-left: 300px
    }

    .layout-wrapper.layout-static.layout-static-sidebar-inactive .layout-sidebar {
        left: -300px
    }

    .layout-wrapper.layout-static.layout-static-sidebar-inactive .layout-topbar {
        left: 0
    }

    .layout-wrapper.layout-static.layout-static-sidebar-inactive .layout-footer,.layout-wrapper.layout-static.layout-static-sidebar-inactive .layout-main {
        margin-left: 0
    }
}

.requests-box {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100% - 110px);
    max-width: 100%
}

@media (max-width: 1024px) {
    .layout-main {
        padding:16px
    }

    .requests-box {
        max-height: 200px
    }

    .layout-wrapper .layout-topbar {
        left: 0
    }

    .layout-wrapper .layout-footer,.layout-wrapper .layout-main {
        margin-left: 0
    }

    .layout-wrapper .layout-sidebar {
        position: static;
        padding-top: 50px;
        width: 100%;
        min-height: 200px
    }

    .layout-wrapper .layout-mask {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 50px;
        left: 0;
        z-index: 998;
        background-color: #424242;
        opacity: .7;
        filter: alpha(opacity=70)
    }

    .layout-wrapper.layout-mobile-sidebar-active .layout-sidebar {
        left: 0
    }

    .layout-wrapper.layout-mobile-sidebar-active .layout-mask {
        display: block
    }

    .body-overflow-hidden {
        overflow: hidden
    }
}

h1 {
    font-size: 24px
}

h1,h2 {
    font-weight: 400;
    margin: 0
}

h2 {
    font-size: 20px
}

.card {
    background-color: #fff;
    padding: 1em;
    border-radius: 3px
}

.card.card-w-title {
    padding-bottom: 2em
}

.card.request {
    border-radius: 0;
    background-color: #fefefe;
    border-bottom: 1px solid #ccc
}

.card.request:hover {
    background-color: #f0f0f0;
    cursor: pointer
}

.card.active {
    background-color: #007ad9!important;
    color: #fff!important;
    border-bottom: 1px solid #005ab9!important
}

.card.visited {
    background-color: #f5f5f5
}

.card h1 {
    margin: 1em 0 .5em;
    border-bottom: 1px solid #d5d5d5;
    padding: .1em;
    font-size: 24px
}

.card h1:first-child {
    margin: 0 0 .5em
}

.title {
    text-overflow: ellipsis;
    font-size: 14px;
    max-width: 75%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block
}

.detail {
    display: block;
    margin-top: 10px;
    font-size: 10px
}

.count {
    color: #fff;
    font-size: 8px;
    top: -3px;
    padding: 2px 4px;
    margin-right: 5px;
    display: inline-block;
    top: -6px;
    position: relative;
    background-color: #666;
    border-radius: 3px
}

.count.get {
    background-color: #20d077
}

.count.post {
    background-color: #ffae00
}

.count.delete {
    background-color: red
}

.count.put {
    background-color: #0036ff
}

.count.dns {
    background-color: #33daff
}

.count.bigx {
    visibility: hidden;
    margin-top: 5px;
    float: right;
    margin-right: 0;
    font-size: 10px;
    font-weight: 700;
    padding: 2px 6px;
    background-color: red;
    border: 1px solid #a00
}

.card:hover .bigx {
    visibility: visible!important
}

code,p,pre {
    white-space: pre-line;
    overflow-wrap: break-word
}

.hexEditorHeader {
    height: 30px!important
}

.byteHeader,.byteValue {
    padding: 3px
}

.asciiValues {
    padding-left: 10px
}

.editAscii,.editHex {
    width: 100%!important
}

.hexEditorBody {
    overflow-x: hidden!important
}

.raw-req>div:nth-last-child(2) {
    height: 420px;
    overflow-x: auto!important
}

.req-table {
    width: 100%
}

.req-table tr:nth-child(2n) {
    background: #f6f8fa
}

td {
    max-width: 0;
    overflow-wrap: break-word
}

.req-table-a {
    width: 30%
}

.req-table-b {
    width: 70%
}

pre {
    background-color: #f6f8fa
}

.delete-all {
    color: #e90000;
    cursor: pointer
}

.delete-all:hover {
    color: red
}

.p-autocomplete .p-autocomplete-input {
    max-width: 250px;
    width: 100%!important
}

.dashboard .summary {
    position: relative
}

.dashboard .summary .title {
    font-size: 20px
}

.dashboard .summary .detail {
    color: #707070;
    display: block;
    margin-top: 10px
}

.dashboard .summary .count {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    padding: 7px 14px;
    border-radius: 3px
}

.dashboard .summary .count.visitors {
    background-color: #20d077
}

.dashboard .summary .count.purchases {
    background-color: #f9c851
}

.dashboard .summary .count.revenue {
    background-color: #007be5
}

.dashboard .highlight-box {
    height: 100px
}

.dashboard .highlight-box:after {
    content: "";
    display: table;
    clear: both
}

.dashboard .highlight-box .initials {
    height: 100%;
    float: left;
    width: 50%;
    text-align: center;
    padding: 1em
}

.dashboard .highlight-box .initials>span {
    font-size: 48px
}

.dashboard .highlight-box .highlight-details {
    height: 100%;
    background-color: #fff;
    float: left;
    width: 50%;
    padding: 1em
}

.dashboard .highlight-box .highlight-details i {
    font-size: 24px;
    vertical-align: middle;
    margin-right: .25em
}

.dashboard .highlight-box .highlight-details .count {
    color: #707070;
    font-size: 36px;
    display: block
}

.dashboard .task-list {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.dashboard .task-list li {
    padding: .5em .25em;
    border-bottom: 1px solid #e3e3e3
}

.dashboard .task-list li:after {
    content: "";
    display: table;
    clear: both
}

.dashboard .task-list .p-checkbox {
    vertical-align: middle;
    margin-right: .5em
}

.dashboard .task-list .task-name {
    vertical-align: middle
}

.dashboard .task-list i {
    float: right;
    font-size: 24px;
    color: #707070
}

.dashboard .contact-form .p-panel-content,.dashboard .task-list .p-panel-content {
    min-height: 256px
}

.dashboard .contacts ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.dashboard .contacts ul li {
    border-bottom: 1px solid #e3e3e3
}

.dashboard .contacts ul li button {
    padding: 9px;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    display: block;
    border-radius: 2px;
    -webkit-transition: background-color .2s;
    transition: background-color .2s
}

.dashboard .contacts ul li button .name {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px
}

.dashboard .contacts ul li button .email {
    position: absolute;
    right: 10px;
    top: 30px;
    font-size: 14px;
    color: #707070
}

.dashboard .contacts ul li button:hover {
    cursor: pointer;
    background-color: #eee
}

.dashboard .contacts ul li:last-child {
    border: 0
}

.dashboard .contacts .p-panel-content {
    min-height: 256px
}

.dashboard .activity-list {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.dashboard .activity-list li {
    border-bottom: 1px solid #e3e3e3;
    padding: 16px 8px
}

.dashboard .activity-list li .count {
    font-size: 24px;
    color: #fff;
    background-color: #007be5;
    font-weight: 700;
    display: inline-block;
    padding: .25em .5em;
    border-radius: 3px
}

.dashboard .activity-list li:first-child {
    border-top: 1px solid #e3e3e3
}

.dashboard .activity-list li:last-child {
    border: 0
}

.dashboard .activity-list li .p-g-6:first-child {
    font-size: 18px;
    padding-left: 0
}

.dashboard .activity-list li .p-g-6:last-child {
    text-align: right;
    color: #707070
}